---
# Использовать Google Style как базу
BasedOnStyle: Google
Language: Cpp
Standard: Latest

# --- Размеры и отступы ---
ColumnLimit: 110
IndentWidth: 2
ContinuationIndentWidth: 4
AccessModifierOffset: -2
DerivePointerAlignment: false
PointerAlignment: Left

# --- Декларативный UI (Method Chaining) ---
# Заставляет переносить каждую точку в цепочках .set_style().set_children()
BreakBeforeBinaryOperators: NonAssignment
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never

# --- Работа со скобками и аргументами ---
# Крайне важно для структуры дерева компонентов
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: false
NamespaceIndentation: All
# Настройка переноса строк перед скобками
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

# --- Лямбда-выражения (для .watch() и .click()) ---
# Делает их читаемыми в UI колбэках
AllowShortLambdasOnASingleLine: None
LambdaBodyIndentation: Signature

# --- Специфика вашего кода ($View, $Text) ---
# Подсказывает линтеру, что это ключевые блоки
WhitespaceSensitiveMacros:
  - '$View'
  - '$Text'
  - '$Button'
  - '$Circular'
  - '$StatusBar'
  - '$InfoModal'
  - '$s'
  - '$StatusBarProps'
  - '$$View'
  - '$$Button'

# --- Инклуды ---
# Отключаем автоматическую сортировку, чтобы сохранить вашу логику групп
SortIncludes: false

# --- Штрафы (настройка весов для алгоритма переноса) ---
# Эти параметры заставляют линтер предпочитать вертикальный стиль горизонтальному
PenaltyBreakAssignment: 100
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 1000

# Пробелы
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
SpacesInContainerLiterals: false
SpaceInEmptyParentheses: false
